/*Home page*/
.title-home > h2{
    text-align: center;
}
.black,.hover-black:hover{
    color:#fff!important;
    background-color:#000!important;
}
.button-left{
    position:absolute;
    top:50%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.button-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}
.mbtn,.button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.mbtn,.button{
    border:none;
    display:inline-block;
    outline:0;
    padding:50px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;white-space:nowrap
}

.display-container{
    position: relative;
}


/*login page*/
.login-form-control {
    width: 400px;
    display:block;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-form-group{
    position: relative;
}


/*Register page*/
.register-form-control {
    width: 400px;
    display:block;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.register-form-group{
    position: relative;
}


/*about us page*/
#img{
    height: auto;
    float: right;
    margin-right: auto;
    margin-left: auto;
}

/*contact us page*/
.form-control {
    width: 400px;
    display:block;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group{
    position: relative;
}

/*price page*/
.display-tablecontainer{
    position: relative;
    width: 100%;
}

/*Add car page*/
.alert{
    position: relative;
}

/*nav bar*/
.container-fluid {
    background-color: #4091f9;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-form {
    padding:  0px;
    width: auto;

    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: 0px;


}
.navbar-brand {
    margin-top: -10px;
}
ul > li > a {
    line-height: 1em;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 22px;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
}

.navbar-default{
    margin-bottom: 0px;

}

@media (min-width: 768px){
    nav navbar-nav navbar-right{
        float: right;
        margin: 0;
    }
}
/*footer*/

footer {
    font-family: PT Serif;
    background-color: #e8e8e8;
    padding: 10px;
    margin-top: 0px;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer * {
    vertical-align: middle;
}

html, body {
    height: 100%;
    margin: 0;
}


/*other*/

h2 {
    font-weight:bold;
    font-size: 40px;
    color:#000000;
}

p {
    font-weight:bold;
    font-size: 17px;
}

h3{
    font-weight:bold;
}

.main-container{
    min-height: 100%;
    position: relative;
}

.container{
    background-color: rgba(254, 234, 201, 0.88);

    padding-top: 10px;
    padding-bottom: 160px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.size{
    height:800px;
}

